<footer class="spec-footer"
        style="background:#00758f;color:#fff;padding:0.5rem 1rem;font-size:0.85rem;margin-top:2rem;">
  <div class="container">

    <p>
      © 2003+
      The openEHR Foundation
    </p>

    <p>
      <a href="https://www.openehr.org">
        The openEHR Foundation
      </a>
      is an independent, non-profit foundation, facilitating the sharing of health
      records by consumers and clinicians via open specifications, clinical models
      and open platform implementations.
    </p>

    <p>
      <strong>Licence</strong>
      <img src="/_/img/cc-by-nd-88x31.png"
     alt="Creative Commons Attribution-NoDerivs 3.0 Unported."
     style="vertical-align:middle;margin:0 0.25rem 0 0;">
      <a href="https://creativecommons.org/licenses/by-nd/3.0/">
        Creative Commons Attribution-NoDerivs 3.0 Unported.
      </a>
    </p>

    <p>
      <strong>Support</strong>
      Issues:
      <a href="https://openehr.atlassian.net/issues/">
        https://openehr.atlassian.net/issues/
      </a>
    </p>

  </div>
</footer>
