<footer class="footer">
  <p>
    Copyright: © 2003+
    <a href="https://www.openehr.org"
        alt="is an independent, non-profit foundation, facilitating the sharing of health
           records by consumers and clinicians via open specifications, clinical models
           and open platform implementations.">The openEHR Foundation</a>
  </p>

  <p>
    License:
    <img src="/ui/img/cc-by-nd-88x31.png"
        alt="Creative Commons Attribution-NoDerivs 3.0 Unported."
        style="vertical-align:middle;margin:0 0.25rem 0 0;">
    <a href="https://creativecommons.org/licenses/by-nd/3.0/">
      Creative Commons Attribution-NoDerivs 3.0 Unported.
    </a>
  </p>

  <p>
    <strong>Links: <strong>
    <a href="https://www.openehr.org/terms-of-use" class="mr-1">Terms of use</a> |
    <a href="https://www.openehr.org/privacy-policy" class="mx-1">Privacy policy</a> |
    <a href="https://www.openehr.org/privacy-policy" class="mx-1">Logos &amp; Trademarks</a> |
    <a href="https://www.openehr.org/contact-us" class="mx-1">Contact</a>
  </p>
</footer>

