{{!--
Custom header content for openEHR specifications site
This partial can be used to add custom header elements
--}}

<div class="openehr-header">
  <div class="openehr-logo">
    {{!-- Add openEHR logo here when migrating from AA_GLOBAL --}}
    {{!-- <img src="{{{uiRootPath}}}/img/openehr-logo.png" alt="openEHR"> --}}
  </div>
  <div class="openehr-title">
    <span class="site-title">openEHR Specifications</span>
  </div>
</div>

<style>
.openehr-header {
  display: flex;
  align-items: center;
  padding: 0.5rem 1rem;
  background-color: #00758f;
  color: white;
}

.openehr-title {
  font-size: 1.2rem;
  font-weight: bold;
  margin-left: 1rem;
}

.site-title {
  color: white;
}
</style>
